
.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem; 
    width: 120%;
}

@media (max-width: 768px) {
    .pokemon-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .pokemon-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
