
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #313131; 
  font-family: 'Inter', sans-serif;
}


.poke-grid-container {
  background-color: #313131; 
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
